header{
  .top{
    display: none;
    height: $headre_top_height;
    line-height: $headre_top_height;
    vertical-align: middle;
    text-align: center;
    background-color: $orange_background;
    p{
      font-size: 15px;
    }
    @media screen and (min-width: $breackpointSmall) {
      & {
        display: block;
      }
    }
  }
  .bottom{
    height: $headre_bottom_height;
    @include container_width;
    border-bottom: 1px solid $brown_text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      height: 35%;
    }
    nav{
      display: flex;
      @media screen and (min-width: $breackpointSmall) {
        i.fa-bars {
          display: none;
        }
      }
      ul{
        display: none;
        @media screen and (min-width: $breackpointSmall) {
          & {
            display: flex;
          }
        }
        @include ul_rules;
        li{
          margin: 0 30px;
          a{
            @include a_styled;
            font-weight: bold;
            color: $brown_text;
          }
          .chevron_down{
            vertical-align: bottom;
          }
        }
      }
      .btn{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid $blue_hover;
        border-radius: 5px;
        @include a_styled;
        span{
          color: $blue_hover;
          font-weight: bold;
          padding-left: 10px;
          white-space: nowrap;
        }
      }
      .btn:hover{
        background-color: $blue_hover;
        span{
          color: white;
        }
        svg .logo-colors{
          display: none;
        }
      }
    }
  }

}
