$container_width: 65%;

$headre_top_height: 50px;
$headre_bottom_height: 90px;

$orange_background: #FFE7D2;
$brown_text: #58402c;

@mixin container_width{
  width: $container_width;
  margin: auto;
};
@mixin large_padding{
  padding-top: 100px;
  padding-bottom: 100px;
};
@mixin ul_rules{
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
};

@mixin a_styled{
  text-decoration: none;
  font-size: 15px;
}
